Repository guava-cards/guava: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

lefthook.yml:

pre-push:
  parallel: true
  commands:
    packages-audit:
      tags: frontend security
      run: yarn audit
      skip:
        - merge
        - rebase

    typecheck:
      glob: '*.{ts,tsx}'
      run: yarn type-check
      tags: frotend typechecking

    test:
      run: yarn test
      skip:
        - merge
        - rebase

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,tsx,jsx}'
      run: yarn eslint {staged_files}
      tags: frontend style

    rubocop:
      tags: backend style
      glob: '*.rb'
      exclude: 'application.rb|routes.rb'
      run: rubocop {staged_files}

fix(frontend): SSR hydration flash
  .gitignore
  app/package.json
  app/src/shared/app.tsx
  app/src/shared/hooks/use-is-server.ts
  library/src/core/env.ts
  library/src/core/typings.d.ts
Due: eslint

style: setup commitlint
  .lefthook/commit-msg/commitlint.sh
  commitlint.config.js
  lefthook.yml
  package.json
  tsconfig.json
  yarn.lock
Due: eslint

feat(backend): create deck/invite models + migrations [GUA-13]
  backend/app/models/deck.rb
  backend/app/models/invite.rb
  backend/db/migrate/20210807171957_create_decks.rb
  backend/db/migrate/20210807172302_create_invites.rb
  backend/spec/factories/decks.rb
  backend/spec/factories/invites.rb
  backend/spec/models/deck_spec.rb
  backend/spec/models/invite_spec.rb
Due: rubocop

feat(backend, app): add create/update deck mutations + types [GUA-13]
  backend/app/graphql/mutations/decks/create_deck_mutation.rb
  backend/app/graphql/mutations/decks/update_deck_mutation.rb
  backend/app/graphql/types/deck_type.rb
  backend/app/graphql/types/deck_visbility_mode_type.rb
  backend/app/policies/deck_policy.rb
  backend/spec/policies/deck_policy_spec.rb
  library/src/decks/mutations/createDeck.gql
  library/src/decks/mutations/updateDeck.gql
  library/src/decks/queries/viewerDecks.gql
Due: rubocop

chore: update commitlint config
  commitlint.config.js
Due: eslint

chore(backend): add deck mutations + authroization [GUA-13]
  backend/app/graphql/types/base_object.rb
  backend/app/graphql/types/mutation_type.rb
  backend/app/graphql/types/user_type.rb
  backend/app/models/user.rb
  backend/db/schema.rb
Due: rubocop

feat(frontend): setup decks routes + pages [GUA-13]
  app/package.json
  app/src/auth/context.tsx
  app/src/auth/routes.tsx
  app/src/decks/components/deck-list.tsx
  app/src/decks/components/deck-row.tsx
  app/src/decks/routes.tsx
  app/src/decks/views/index.tsx
  app/src/decks/views/show.tsx
  app/src/shared/app-routes.tsx
  app/src/shared/app.tsx
  app/src/shared/components/breadcrumbs.tsx
  app/src/shared/components/dark-mode-button.tsx
  app/src/shared/components/link.tsx
  app/src/shared/components/list.tsx
  app/src/shared/hooks/use-first-render.ts
  app/src/shared/layouts/dashboard/header.tsx
  app/src/shared/layouts/dashboard/index.tsx
  app/src/shared/layouts/dashboard/sidebar-link.tsx
  app/src/shared/layouts/index.tsx
  app/src/shared/paths.ts
  app/src/shared/theme/foundations/layers.ts
  app/src/shared/typings/global.d.ts
  app/src/shared/utils/lists.ts
  app/src/shared/views/_default.page.client.tsx
  graphql.schema.json
  library/graphql.schema.json
  library/src/core/apollo/auth.ts
  library/src/decks/fragments/DeckRow_deck.gql
  library/src/decks/queries/viewerDecks.gql
  yarn.lock
Due: eslint

chore(frontend, library): update tests to use enzyme snapshots
  app/src/shared/components/tests/__snapshots__/dark-mode-button.test.tsx.snap
  jest.setup.js
  package.json
  yarn.lock
Due: eslint

chore(library): add cache policies to apollo
  library/src/core/apollo/cache.ts
  library/src/core/apollo/policies.ts
Due: eslint

fix(frontend): SSR issue with chakra provider
  app/src/auth/routes.tsx
  app/src/decks/views/index.tsx
  app/src/shared/app-routes.tsx
  app/src/shared/app.tsx
  app/src/shared/components/link.tsx
  app/src/shared/components/list.tsx
  app/src/shared/components/suspense.tsx
  app/src/shared/layouts/dashboard/index.tsx
  app/src/shared/theme/environment.ts
  app/src/shared/utils/mock-document.ts
  app/src/shared/utils/mock-window.ts
  app/src/shared/views/_default.page.client.tsx
  app/src/shared/views/_default.page.server.tsx
  app/vite.config.ts
  library/src/decks/queries/viewerDecks.gql
  yarn.lock
Due: eslint

chore(library): check out generated artefacts into git
  .gitignore
  library/.gitignore
  library/src/generated/apollo-helpers.ts
  library/src/generated/graphql.tsx
  library/src/generated/introspection-result.ts
  library/src/generated/introspection.ts
Due: eslint

chore: update *.md docs
  README.md
  TESTING.md
  app/README.md
Due: none

fix: eslint no console
  .eslintrc.js
  app/craco.config.js
Due: eslint

Update README.md
  app/README.md
Due: none
